<app-navbar></app-navbar>
<div class="container-parent">
<div class="container">
  <!-- Collapsible Panels On Boardings List-->
   <div class="panel-group">
    <div class="panel panel-default">
     <div class="panel-heading">
      <h4 class="panel-title">
       <a data-toggle="collapse" href="#collapse1"><span class="glyphicon glyphicon-blackboard" style="padding-right:10px;"></span>On Boardings</a>
      </h4>
     </div>
    <div id="collapse1" class="panel-collapse collapse in">
     <div class="panel-body">Prateek</div>
     <div class="panel-body">Saddam</div>
     <div class="panel-body">Vishal</div>
    </div>
   </div>
 </div>

 <!-- Collapsible Panels Recent Activities-->

 <div class="panel-group">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h4 class="panel-title">
     <a data-toggle="collapse" href="#collapse2"><span class="glyphicon glyphicon-bullhorn" style="padding-right:10px;"></span>Activities</a>
    </h4>
   </div>
  <div id="collapse2" class="panel-collapse collapse">
   <div class="panel-body">Awarded Excellence By Oracle</div>
   <div class="panel-body">Excellence Awarded in 2018</div>
   <div class="panel-body">Best Partnered</div>
  </div>
 </div>
</div>

<!-- Collapsible Panels Recent Activities-->

<div class="panel-group">
<div class="panel panel-default">
 <div class="panel-heading">
  <h4 class="panel-title">
   <a data-toggle="collapse" href="#collapse3"><span class="glyphicon glyphicon-calendar" style="padding-right:10px;"></span>Birthdays</a>
  </h4>
 </div>
<div id="collapse3" class="panel-collapse collapse">
 <div class="panel-body">Prateek</div>
 <div class="panel-body">Saddam</div>
 <div class="panel-body">Vishal</div>
</div>
</div>
</div>

<!-- Collapsible Panels Recent Activities-->

<div class="panel-group">
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
 <a data-toggle="collapse" href="#collapse4"><span class="glyphicon glyphicon-user" style="padding-right:10px;"></span>Happy Customers</a>
</h4>
</div>
<div id="collapse4" class="panel-collapse collapse">
<div class="panel-body">Emerson</div>
<div class="panel-body">Glocera</div>
<div class="panel-body">Block Lock</div>
</div>
</div>
</div>

<!-- Collapsible Panels Recent Activities-->

<div class="panel-group">
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
 <a data-toggle="collapse" href="#collapse5"><span class="glyphicon glyphicon-globe" style="padding-right:10px;"></span>Clientele</a>
</h4>
</div>
<div id="collapse5" class="panel-collapse collapse">
<div class="panel-body">Microsft</div>
<div class="panel-body">Emerson</div>
<div class="panel-body">Block Lock</div>
</div>
</div>
</div>

</div>
<app-footer></app-footer>