<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="homepage.html">SOFBANG</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav spanme">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-home" style="padding-right:10px;"></span>Home</a></li>
        <li><a href="about.html"><span class="glyphicon glyphicon-bookmark" style="padding-right:10px;"></span>About</a></li>
        <li><a href="hrms.html"><span class="glyphicon glyphicon-lock" style="padding-right:10px;"></span>HRMS</a></li>
        <li><a href="lms.html"><span class="glyphicon glyphicon-book" style="padding-right:10px;"></span>LMS</a></li>
        <li class="disabled"><a href="reports.html"><span class="glyphicon glyphicon-wrench" style="padding-right:10px;"></span>Reports</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="../navbar/">Default</a></li>
        <li><a href="../navbar-static-top/">Static top</a></li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" style="padding-right:10px;"></span>Settings <span class="caret"></span></a>
          <ul class="dropdown-menu spanme">
            <li><a href="#"><span class="glyphicon glyphicon-user" style="padding-right:10px;"></span>Profile</a></li>
            <li><a href="index.html"><span class="glyphicon glyphicon-log-out" style="padding-right:10px;"></span>Logout!</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>